.top {
  padding-top: 100px;
  padding-bottom: 100px;
  background: linear-gradient(
      rgba(6, 8, 26, 1),
      rgba(6, 8, 26, 0.2),
      rgba(6, 8, 26, 1)
    ),
    url("/bgs/universe.svg") no-repeat;
  background-size: cover;
  background-position: center;
  @media (max-width: 500px) {
    padding-top: 130px;
    background-position: -170px center;
  }
}

.title {
  position: relative;
  background: linear-gradient(
    91.89deg,
    #fff 25.45%,
    hsla(0, 0%, 100%, 0.3) 70.83%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  span {
    font-family: Squada One, sans-serif;
    font-size: 161px;
    line-height: 188px;
  }
  &::before {
    content: "";
    position: absolute;
    width: 50em;
    height: 7em;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    border: 1px solid #fff;
    border-radius: 0.625em;
  }
  &.right::before {
    right: -30em;
  }
  &.left {
    padding-left: 205px;
    &::before {
      left: -40em;
    }
  }

  @media (max-width: 500px) {
    padding: 0 15px;
    &::before {
      width: 32em;
      height: 2.5em;
    }
    &.left {
      text-align: end;
      padding: 0;
      padding-top: 10px;
      &::before {
        left: -23.5em;
      }
    }
    span {
      font-size: 42px;
      line-height: 1;
    }
  }
}
.benefits {
  padding: 0 140px;
  margin-top: 90px;
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr;
  align-items: center;
  gap: 50px;
  justify-items: center;
  div {
    display: flex;
    align-items: center;
    gap: 20px;
    span {
      max-width: 280px;
      font-weight: 500;
      font-size: 17px;
      line-height: 25px;
    }
  }
  @media (max-width: 500px) {
    grid-template-columns: 1fr;
    padding: 0 80px;
  }
}
.prevs {
  padding: 0 140px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  @media (max-width: 500px) {
    padding: 0;
    margin: 0;
  }
}
.prev {
  position: relative;
  height: 400px;
  @media (max-width: 500px) {
    height: 600px;
  }
}
.inner {
  height: 84%;
  padding: 30px 40px;
  position: absolute;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  align-items: center;
  b {
    font-family: "Squada One";
    font-weight: 400;
    font-size: 42px;
    line-height: 71px;
  }
  p {
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    width: 90%;
  }
  div {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  @media (max-width: 500px) {
    height: 500px;
    padding: 0 50px;
    display: flex;
    flex-direction: column-reverse;
    padding-top: 20px;
  }
}
.left_text {
  padding-left: 40px;
  @media (max-width: 500px) {
    padding: 0;
  }
}

.right_text {
  padding-left: 60px;
  @media (max-width: 500px) {
    padding: 0;
  }
}
.bottom {
  background: linear-gradient(
      rgba(6, 8, 26, 1),
      rgba(6, 8, 26, 0.8),
      rgba(6, 8, 26, 0)
    ),
    url("/bgs/bottom.png") no-repeat;
  background-size: cover;
  background-position: top;
  @media (max-width: 500px) {
    margin-top: 30px;
    background: linear-gradient(
        rgba(6, 8, 26, 1),
        rgba(6, 8, 26, 0.8),
        rgba(6, 8, 26, 1)
      ),
      url("/bgs/bottom.png") no-repeat;
  }
}
.collection {
  padding-bottom: 100px;
  margin-top: 245px;
  display: grid;
  grid-template-columns: 40% 1fr;
  gap: 60px;
  @media (max-width: 500px) {
    margin-top: 160px;
    display: block;
    padding-bottom: 50px;
  }
}
.meta {
  padding-top: 10px;
  b {
    background: linear-gradient(
      92.84deg,
      #ffffff 3.33%,
      rgba(255, 255, 255, 0) 115%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    font-weight: 400;
    font-size: 72px;
    line-height: 101px;
    font-family: "Squada One";
  }
  p {
    font-weight: 400;
    font-size: 17px;
    line-height: 31px;
    width: 90%;
  }
  @media (max-width: 500px) {
    b {
      font-size: 55px;
    }

    p {
      width: 80%;
      font-size: 15px;
    }
  }
}
.label {
  width: 77%;
  margin-top: 45px;
  padding: 25px 30px;
  display: flex;
  align-items: center;
  gap: 30px;
  background: #000000;
  border-radius: 10px;
  font-weight: 400;
  font-size: 15px;
  line-height: 26px;
  @media (max-width: 500px) {
    display: none;
  }
}
.details {
  position: relative;
}
.details_inner {
  margin-top: 40px;
  z-index: 33;
  position: absolute;
  top: 0;
  left: 0;
  padding: 30px;
  padding-top: 35px;
  background-size: cover;
  b {
    font-family: "Squada One";
    font-weight: 400;
    font-size: 40px;
  }
  ul {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 13px;
    li {
      display: grid;
      grid-template-columns: 1fr 1fr;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      .key {
        color: rgba(255, 255, 255, 0.4);
      }
    }
  }
  @media (max-width: 500px) {
    position: relative;
    b {
      font-size: 25px;
      line-height: 25px;
    }
    ul {
      li {
        grid-template-columns: 1fr;
        gap: 5px;
      }
    }
  }
}
.desktop {
  display: block;
  @media (max-width: 500px) {
    display: none;
  }
}
.mobile {
  display: none;
  @media (max-width: 500px) {
    display: block;
  }
}
.reverse .inner {
  @media (max-width: 500px) {
    flex-direction: column;
  }
}
.mobile_bg {
  position: absolute;
  top: 0;
}
