.trading {
  display: flex;
  justify-content: center;
  position: relative;
  @media (max-width: 500px) {
    display: block;
    margin-top: 80px;
  }
}
.text {
  position: absolute;
  top: 43%;
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
  b {
    font-family: "Squada One";
    font-style: normal;
    font-weight: 400;
    font-size: 75px;
    line-height: 81px;
    @media (max-width: 500px) {
      font-size: 45px;
      line-height: 61px;
    }
  }
  p {
    font-weight: 600;
    font-size: 22px;
    line-height: 44px;
    span {
      text-decoration: underline;
      text-underline-offset: 10px;
      text-decoration-thickness: 4px;
      text-decoration-color: #22f5c3;
    }
    @media (max-width: 500px) {
      font-size: 15px;
      line-height: 28px;
    }
  }
  @media (max-width: 500px) {
    top: 5%;
    width: 100%;
    padding: 0 30px;
    box-sizing: border-box;
  }
}
.partners {
  margin-bottom: 30px;
  margin-top: 160px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .logos {
    display: flex;
    gap: 20px;
  }
}
.desktop {
  display: block;
  @media (max-width: 500px) {
    display: none;
  }
}
.mobile {
  display: none;
  @media (max-width: 500px) {
    display: block;
  }
}
