.control {
  margin: 40px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media (max-width: 500px) {
    gap: 20px;
  }
}
.progress {
  width: 85%;
  height: 1.5px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  opacity: 0.6;
}
.current {
  height: 1.5px;
  background: #22f5c3;
  border-radius: 1px;
}
.arrows {
  display: flex;
  align-items: center;
  gap: 40px;
  div {
    cursor: pointer;
  }
  @media (max-width: 500px) {
    gap: 15px;
  }
}
.next {
  margin-top: -6px;
  transform: rotate(180deg);
}

.primary {
  min-height: 100%;
  padding: 100px 0 70px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: url("/bgs/experience.png") no-repeat;
  background-size: contain;
  text-align: center;
  b {
    font-family: "Squada One";
    font-style: normal;
    font-weight: 400;
    font-size: 72px;
  }
  p {
    font-weight: 500;
    font-size: 17px;
    line-height: 29px;
  }
}
.secondary {
  min-height: 500px;
  background: url("/bgs/slide.png") no-repeat;
  background-size: contain;
}
.swiper_container {
  padding-left: 340px;
}
