.root {
  margin-top: 60px;
  background: linear-gradient(
      rgba(6, 8, 26, 1),
      rgba(6, 8, 26, 0.4),
      rgba(6, 8, 26, 1),
      rgba(6, 8, 26, 1)
    ),
    url("/bgs/video-bonus.png") no-repeat;
  background-size: cover;
  background-position: bottom;
}
.video {
  min-height: 100vh;
  @media (max-width: 500px) {
    padding: 50px 0;
    min-height: unset;
  }
}
.video_inner {
  position: relative;
  width: 100%;
  height: 1000px;
  display: flex;
  justify-content: center;
  img {
    cursor: pointer;
  }
  @media (max-width: 500px) {
    height: 240px;
  }
}
.bonus {
  padding: 120px 0 200px 0;
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 130px;
    font-weight: 400;
    font-size: 15px;
    line-height: 28px;
    img {
      margin: 0 auto;
      width: 300px;
      height: auto;
    }
    @media (max-width: 500px) {
      margin-bottom: 60px;
      display: flex;
      flex-direction: column;
      gap: 50px;
      p {
        width: 85%;
        text-align: center;
      }
    }
  }
  .grid {
    padding-top: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
    @media (max-width: 500px) {
      padding: 0 30px;
      grid-template-columns: 1fr;
    }
    div {
      display: flex;
      flex-direction: column;
      gap: 22px;
      b {
        font-weight: 600;
        font-size: 20px;
        line-height: 31px;
      }
      ul {
        display: flex;
        flex-direction: column;
        gap: 15px;
        li {
          display: flex;
          gap: 10px;
          color: rgba(255, 255, 255, 0.4);
          font-weight: 400;
          font-size: 15px;
          line-height: 26px;
          span {
            min-width: 20px;
            color: #22f5c3;
          }
        }
      }
    }
  }
  @media (max-width: 500px) {
    padding: 0;
  }
}
.seize {
  min-height: 510px;
  width: 100%;
  margin-top: 180px;
  background: url("/images/seize.png") no-repeat;
  background-size: cover;
  .wrapper {
    padding: 60px 65px;
  }
  .inner {
    width: 70%;
    padding: 60px 65px;
  }
  b {
    font-family: "Squada One";
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 70px;
    span {
      color: #6a6b76;
    }
  }

  .btns {
    margin-top: 35px;
    display: flex;
    align-items: center;
    gap: 45px;
  }
  .reminder {
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 25px;
    padding: 20px;
    padding-right: 35px;
    border-radius: 10px;
    font-weight: 600;
    font-size: 20px;
    line-height: 31px;
    background-color: #fff;
    color: #000;
    img {
      box-shadow: 0px 0px 24px rgba(34, 245, 195, 0.35);
    }
  }

  @media (max-width: 500px) {
    display: none;
  }
}
