.root {
  margin-top: 200px;
  background: linear-gradient(
      rgba(6, 8, 26, 0.1),
      rgba(6, 8, 26, 0.5),
      rgba(6, 8, 26, 1)
    ),
    url("/bgs/rarity.png") no-repeat;
  background-size: cover;
  background-position: center;
  @media (max-width: 500px) {
    margin-top: 120px;
    background-position: right;
  }
}
.inner {
  padding-top: 100px;
  display: grid;
  grid-template-columns: 1.6fr 1fr;
  gap: 60px;
  @media (max-width: 500px) {
    display: block;
  }
}
.meta {
  b {
    background: linear-gradient(
      92.84deg,
      #ffffff 3.33%,
      rgba(255, 255, 255, 0) 115%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    font-weight: 400;
    font-size: 72px;
    line-height: 101px;
    font-family: "Squada One";
  }
  p {
    margin-top: 15px;
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 15px;
    line-height: 26px;
  }
  @media (max-width: 500px) {
    b {
      font-size: 55px;
      line-height: 68px;
    }
    p {
      font-size: 15px;
      line-height: 25px;
    }
  }
}
.photos {
  display: flex;
  align-items: top;
  gap: 32px;
  @media (max-width: 500px) {
    display: none;
  }
}
.list {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  .item {
    padding: 20px;
    display: flex;
    align-items: top;
    gap: 16px;
    div {
      margin-top: 4px;
      width: 90%;
      gap: 20px;
      display: flex;
      flex-direction: column;
      b {
        font-weight: 600;
        font-size: 20px;
        line-height: 31px;
      }
      span {
        font-weight: 400;
        font-size: 15px;
        line-height: 26px;
      }
    }
    &:first-child {
      background: #000000;
      border-radius: 10px;
    }
  }
}
.seize {
  position: relative;
  margin-top: 260px;
  margin-bottom: 100px;
  width: 100%;
  &_inner {
    z-index: 10;
    padding: 60px;
    position: absolute;
    top: 0;
    left: 0;
    width: 55%;
    b {
      font-family: "Squada One";
      font-style: normal;
      font-weight: 400;
      font-size: 42px;
      line-height: 70px;
      span {
        color: #6a6b76;
      }
    }
    @media (max-width: 500px) {
      width: 100%;
      box-sizing: border-box;
      b {
        font-size: 22px;
        line-height: 37px;
      }
    }
  }

  .btns {
    margin-top: 35px;
    display: flex;
    align-items: center;
    gap: 45px;
    @media (max-width: 500px) {
      flex-direction: column-reverse;
    }
  }
  .reminder {
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 25px;
    padding: 20px;
    padding-right: 35px;
    border-radius: 10px;
    font-weight: 600;
    font-size: 20px;
    line-height: 31px;
    background-color: #fff;
    color: #000;
    img {
      box-shadow: 0px 0px 24px rgba(34, 245, 195, 0.35);
    }
    @media (max-width: 500px) {
      margin-left: 10px;
      padding: 10px;
      font-size: 15px;
      line-height: 22px;
    }
  }
  .bg {
    @media (max-width: 500px) {
      height: 560px !important;
    }
  }
}
